:root {
    --primary-main: #d50000;
    --primary-light: #ff9800;
    --secondary-light: #ddd;
}
.hidden {
    display: none !important;
}
.reactive-timeline .component-box {
    border: 5px double var(--secondary-light);
    padding: 30px 15px 25px;
    border-radius: 4px;
    margin-top: 40px;
    position: relative;
}
.reactive-timeline .joiner {
    position: absolute;
    top: -45px;
    left: 50%;
    height: 40px;
    width: .1px;
    border-left: 5px double var(--secondary-light);
}
.reactive-timeline .name-label {
    position: absolute;
    display: inline-block;
    border: 5px double var(--secondary-light);
    top: -20px;
    padding: 1px 7px 3px;
    border-radius: 4px;
    background: #fff;
}
.reactive-timeline .storylet .st-text {
    white-space: pre-wrap;
    word-break: break-word;
}
.reactive-timeline .storyboard-item[data-sbindx="0"] .storylet .joiner {
    display: none;
}
.reactive-timeline .component-box.choices {
    padding-bottom: 0;
    padding-top: 0;
}
.reactive-timeline .choices .balls {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 23px;
    text-align: center;
    font-size: 12px;
}
.reactive-timeline .choices .balls .c-i-ball {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #999;
    height: 22px;
    width: 22px;
    color: #fff;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}
.reactive-timeline .choices .balls .c-i-ball:active {
    background: #ccc;
    color: #000;
}
.reactive-timeline .choices .inner-container {
    display: flex;
    overflow: auto;
    padding: 50px 0 20px;
}
.reactive-timeline .choice {
    box-shadow: -3px 3px 5px 0px #847676;
    border: 1px solid var(--secondary-light);
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    min-width: 200px;
}
.reactive-timeline .choice.selected,
.reactive-timeline .choice:active {
    box-shadow: inset -3px 3px 5px 0px #847676;
}
.reactive-timeline .choice .c-i {
    font-size: 14px;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
}